/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Adds content visibility each element for ultimate loading speed */
@supports (content-visibility: auto) {
  * {
    content-visibility: auto;
  }
}

/* Set core document defaults */
html {
  scroll-behavior: smooth;
}

/* Set core root defaults */
:root {
  font-size: 1rem;
  font-family: sans-serif;
  line-height: calc(1ex / 0.32);
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set the line height scale for h1 and h2 elements */
h1,
h2 {
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42) 0;
}

/* Define the default h1 size */
h1 {
  font-size: 2.5em;
}

/* Define the default h2 size */
h2 {
    font-size: 2em;
}

/* Set the h3 defaults */
h3 {
    font-size: 1.75em;
    line-height: calc(1ex / 0.38);
    margin: calc(1ex / 0.38) 0;
}

/* Set the h4 defaults */
h4 {
    font-size: 1.5em;
    line-height: calc(1ex / 0.37);
    margin: calc(1ex / 0.37) 0;
}


/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
